[submodule "pkg/substrates/substrate-main"]
	path = pkg/substrates/substrate-main
	url = https://github.com/threefoldtech/substrate-client
[submodule "pkg/substrates/substrate-dev"]
	path = pkg/substrates/substrate-dev
	url = https://github.com/threefoldtech/substrate-client
[submodule "pkg/substrates/substrate-test"]
	path = pkg/substrates/substrate-test
	url = https://github.com/threefoldtech/substrate-client
[submodule "pkg/substrates/substrate-qa"]
	path = pkg/substrates/substrate-qa
	url = https://github.com/threefoldtech/substrate-client
